<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
  <title>मौसम विज्ञान केंद्र देहरादून</title>
  <!-- Bootstrap core CSS -->
    <link href="/static/css/errorstyles.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Kulim+Park|Patua+One|Righteous|Solway&display=swap" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">

</head>
          <style>
      a, a:link, a:visited {
            color: #FFFAFA;
            text-decoration: none;
        }
      .mapdiv{
         width: 100%;
         margin: auto;
            display: block;
      }
      .mapdiv path {
         fill: #de6666;
         stroke: white;
         stroke-width: 20px;
         transition: fill 0.3s;
      }
      .mapdiv path:hover{
         fill: #eeb1b1;
      }
      </style>
<style>
    .word{
        word-wrap: break-word;
    }
</style>

<body>

  <!-- Navigation -->


 <header class="masthead" style="background-color: aquamarine;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
            <div class="row">
                <div class="col" style="margin-top: 2.5rem;">
                <img src="/static/images/img0003.png"
                     class="img-fluid" alt="Responsive image">
                </div>
                <div class="col mt-2">
                    <div class="row text-center" style="color: white;">
                    <div class="col-lg-6">
                      <pre style="font-weight:bolder;color: white;">भारत सरकार</pre>
                    </div>
                    <div class="col-lg-6">
                      <pre style="font-weight:bolder;color: white;">भारत मौसम विज्ञान विभाग</pre>
                    </div>
                  </div>
                  <div class="row text-center" style="color: white;">
                    <div class="col">
                      <pre style="font-weight:bolder;color: white;">पृथ्वी विज्ञान मंत्रालय</pre>
                    </div>
                    <div class="col">
                      <pre style="font-weight:bolder;color: white;">मौसम विज्ञान केंद्र देहरादून</pre>
                    </div>
                  </div>
                </div>
                <div class="col" style="margin-top: 2.5rem;">
                <img src="/static/images/img0003.png"
                     class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
        </div>
      </div>
  </header>
  <h1 class="text-center text-danger" style="font-size:35px;font-family: 'Righteous', cursive;"><strong>{{yatraheading}}</strong></h1>

    <div class="container">
    <div class="alert " role="alert">
        <p class="" align"justify">Char Dham Cities: Badrinath, Puri, Rameswaram, Dwaraka.</p>
	<p class="" align="justify">Chota Char Dham Cities: Yamunotri, Gangotri, Kedarnath, Badrinath.</p>
        <div class="alert alert-warning" role="alert">
          <h6 class="text-center">Weather Updates</h6>
            <p align="justify">This service is not available.</p>
        </div>
    </div>
  </div>


    <div class="footer-copyright bg-danger text-center py-3">
        <p class="text-center text-white">मौसम विज्ञान केंद्र देहरादून</p>
        <span class="text-warning">© 2019 Copyright:</span>
<a href="#">WoidTech</a>

  </div>
<!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/clean-blog.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

</body>
</html>
